@model IEnumerable<Radicaciones.Core.Entities.Archivo>

@{
    ViewData["Title"] = "Tipo Archivos";
}


<div class="container justify-content-center">
    <!-- Default box -->
    <div class="card justify-content-center">
        <div class="card-header">
            <div class="row">
                <div class="col-6"><h2 class="card-title">Gestion de Archivo</h2></div>
                <div class="col-6">
                    <a class="bt btn-success"
                       asp-action="Create">
                        Agregar
                    </a>
                </div>
            </div>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
       
        <!-- /.card-body -->
        <div class="card-footer">
            Footer de ejemplo
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</div>


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Usuario/Delete/' + item_to_delete;
            });
        });
    </script>
}